#!/bin/bash
BOARD=$(bpi-hw)

load_modules()
{
  case ${BOARD} in
  bpi-m3)
    modprobe bcmdhd op_mode=2
    ;;
  bpi-m64)
    modprobe bcmdhd op_mode=2
    ;;
  bpi-m2m)
    modprobe bcmdhd op_mode=2
    ;;
  bpi-m2u)
    modprobe bcmdhd op_mode=2
    ;;
  bpi-m2z)
    modprobe bcmdhd op_mode=2
    ;;
  bpi-m2p)
    modprobe bcmdhd op_mode=2
    ;;
  bpi-m2)
    modprobe bcmdhd op_mode=2
    ;;
  bpi-m1p)
    modprobe ap6211
    ;;
  bpi-r2)
    if [ -x /etc/init.d/wifi_enable ] ; then
      /etc/init.d/wifi_enable &
    fi
    ;;
  *)
    ;;
  esac
}

#main
load_modules